@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mochiy+Pop+P+One&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Roboto&family=Source+Serif+4:opsz,wght@8..60,200&display=swap');


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    background-color: #2338a9;
    border-radius: 20px;
    box-shadow: 2px 2px 10px;

    
    
}

#relatorio{
background-color: rgb(211, 211, 211);
position: absolute;
bottom: 50px;
width: 300px;


}

.container input{
    /* margin-left: 20px; */
    width: 90%;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 30px;
}

.container label{
    margin-left: 25px;
    font-weight: medium;
    color: #ffffff;
}

#btn{
    height:40px;
    width: 50%;
    cursor: pointer;
    background-color: #000b42;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    

}

.dark{
    background-color: rgb(31, 31, 31);
}

#tema-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}




